/*
Theme Name: Twenty Fifteen DOC.Moniteurs
Theme URI: https://gitlab.com/Glenans-CDMEB/DOC.moniteurs-Twenty-fifteen-child-theme
Author: Matthieu Faure (based on the WordPress team)
Author URI: https://asqatasun.org/
Description: Twenty Fifteen DOC.Moniteurs
Template: twentyfifteen
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentyfifteen-doc-moniteurs
Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

.glenans-officiel {
    color: white;
    background-color: #c30210; /* rouge Glénans */
    font-weight: bold;
    padding: 5px;
}